<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Sender</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            background-color: #fff;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input,
        textarea,
        button {
            width: 100%;
            padding: 10px;
            margin-bottom: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 16px;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }
    </style>
</head>

<body>

    <form action="/send-email" method="post" enctype="multipart/form-data">
        <label for="sender">Sender Email:</label>
        <input type="email" id="sender" name="sender" value="mozzam607@gmail.com" required>

        <label for="recipient">Recipient Email:</label>
        <input type="email" id="recipient" name="recipient" value="{{recipient}}" required>

        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" value="Python/Nodejs Developer" required>

        <label for="body">Body:</label>
        <textarea id="body" name="body" rows="4"
            required>I have 2 years of hands-on experience in Python and Node.js development,particularly in crafting microservices architectures. Additionally, I hold certifications in AWS Cloud Practitioner and Azure AZ-900,showcasing my understanding of cloud technologies and their operational principles.</textarea>

        <label for="attachment">Attachment:</label>
        <input type="file" id="attachment" name="attachment">

        <button type="submit">Send Email</button>
        <h3>{{successMessage}}</h3>
        <h3>{{errorMessage}}</h3>
    </form>

</body>

</html>